html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*container============================================================================================================================================================================================================================================================================================================================================================================================*/

.container {
  width: 1200px;
  padding: 0 20px;
}



/*HEADER===========================================================================================================================================================================================================================================================================================================================*/
.main-header {
  min-height: 545px;
}

.main-header__main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  width: 160px;
  height: 65px;
}

.main-header__site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  margin: 0;
  padding: 0;

  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-header__user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 160px;
  margin: 0;
  padding: 0;
}

.main-header__site-navigation,
.main-header__user-navigation {
  list-style: none;
}

.user-navigation__a {
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.main-header__site-navigation a,
.main-header__user-navigation a {
  color: #000000;
}

.main-header__site-navigation a:hover,
.main-header__site-navigation a:focus,
.main-header__user-navigation a:hover,
.main-header__user-navigation a:focus {
  color: #fb565a;
}
.main-header__site-navigation a:active,
.main-header__user-navigation a:active {
  color: #bebebe;
}
/* FOR BUTTON================================================================================================================================================================================================================================================*/
.btn {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: #fb565a;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: #e37376;
}

.offers__list-btn-green {
  background-color: #00ca74;
}

.offers__list-btn-green:hover {
  background-color: #00bc6c;
}

.offers__list-btn-green:active {
  background-color: #00aa62;
  color: #37bc83;
}

.offers__list-btn-yellow {
  background-color: #efc84a;
}

.offers__list-btn-yellow:hover {
  background-color: #eab534;
}

.offers__list-btn-yellow:active {
  background-color: #e5a722;
  color: #ebba52;
}

.filters__btn {
  color: #000000;
  background-color: #eeeeee;
}

.filters__btn:hover {
  color: #000000;
  background-color: #dfdfdf;
}

.filters__btn:active {
  color: #959595;
  background-color: #d5d5d5;
}



 /*MAIN MAIN MAIN=====================================================================================================================================================================================================================================================================================================================================*/

/*DELIMiTER-1================================================================================================================================================*/
.offers__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1100px;

  list-style: none;
}

.offers__list-item {
  width: 300px;
}

.offers__list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.about-us {
  display: flex;
  justify-content: space-between;
}

.about-us__delimiter-1 {
  width: 660px;
}

.about-us__delimiter-2 {
  width: 360px;
}

.about-us__title {
  display: inline-block;
  margin-bottom: 19px;
  padding-top: 50px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us__delimiter-1 .about-us__p {
  margin-bottom: 40px;
}

.about-us__list-item {
  margin-top: 30px;
}

.about-us__title-ul {
  display: inline-block;
  margin-bottom: 20px;
}

.about-us__text {
  display: inline-block;
  margin-bottom: 70px;

  color: #000000;
  text-transform: uppercase;
}
/*DELIMiTER-2=================================================================================================================================================*/

.about-us__img {
  margin-bottom: 20px;
}

/*TABLE===========================================================================================================================================================================================================================================================================================================================*/
.indicators__numeric {
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}
.indicators__percent {
  font-size: 20px;
  line-height: 10px;
  vertical-align: super;
}

.indicators__data {
  padding-bottom: 25px;
}

/*КЛИЕНТУРА==================================================================================================================================================================================================================================================================================================================================*/

.clientage__list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 60px 0;

  list-style: none;
}

.clientage__list-item:nth-child(1) {
  margin-left: 31px;
  margin-right: 95px;
}

.clientage__list-item:nth-child(2) {
  margin-right: 100px;
}

.clientage__list-item:nth-child(3) {
  margin-right: 120px;
}

.clientage__list-item:nth-child(4) {
  margin-right: 40px;
}

.clientage__list-item-logo1,
.clientage__list-item-logo2,
.clientage__list-item-logo3,
.clientage__list-item-logo4 {
  opacity: 0.25;
}

.clientage__list-item-logo1:hover,
.clientage__list-item-logo2:hover,
.clientage__list-item-logo3:hover,
.clientage__list-item-logo4:hover {
  opacity: 1;
}

.clientage__list-item-logo1:active,
.clientage__list-item-logo2:active,
.clientage__list-item-logo3:active,
.clientage__list-item-logo4:active {
  opacity: 0.25;
}

/*FOOTER===================================================================================================================================================================================================================================================================================================================================================================================================================*/

.main-footer__address {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 310px;
  padding: 50px 50px;
}

.main-footer__address-title {
  display: inline-block;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.main-footer__address-text {
  line-height: 18px;
  color: #666666;
}

.main-footer__address-phone {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
}
/*ПОЧЕМУ-ТО НЕ РАБОТАЕТ СВОЙСТВО JUSTIFY-CONTENT: SPACE-BETWEEN*/
.main-footer__social-list {
  display: flex;
  width: 260px;
  padding: 0;
  margin: 0;
  margin-right: 140px;
  min-height: 80px;

  list-style: none;
}

.social-list-item {
  width: 80px;

  background-color: #e1e1e1;
}
/*КОНЕЦ ПРОБЛЕМЫ*/

.social-list-item:nth-child(1) {
  margin-right: 10px;
}

.social-list-item:nth-child(2) {
  margin-right: 10px;
}

.social-list-item:hover {
  background-color: #e74246;
}

.social-list-item:active {
  background-color: #d7373b;
}

.vk,
.fb,
.inst {
  opacity: 0,25;
}

.vk:hover,
.fb:hover,
.inst:hover {
  opacity: 1;
}

.vk:active,
.fb:active,
.inst:active {
  opacity: 0,2;
}

.main-footer__wrapper {
  display: flex;
  margin-bottom: 75px;
}

.main-footer__tagline {
  display: inline-block;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.main-footer__sale {
  line-height: 22px;
  color: #444444;
}

/*MODAL ============================================================================================================================================================================================================================================================================================================================================================================================================*/
.modal {
  width: 960px;
}

.modal h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500px;
  color: #000000;
}

.modal p {
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.modal__input{
  width: 360px;
  min-height: 50px;
}
.modal textarea {
  width: 760px;
  min-height: 120px;
}

.modal__input,
.modal textarea {
  border: 2px solid #d7dcde;
}

.modal__input:hover
.modal textarea:hover {
  border: 2px solid #b4b9bb;
}
.modal__input:focus,
.modal textarea:focus {
  border: 2px solid #000000;
}

.modal input,
.modal textarea {
  outline: 0;
}

.modal__input:invalid {
  border: 2px solid #e74246;
}













/*INNER PAGE================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================*/
.inner-page .main-header {
  min-height: 360px;
}

.inner-page__wrapper {
  display: flex;
}

.filters {
  width: 260px;
  margin-right: 140px;
}


.filters__price,
.filters__net,
.filters__especially {


  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.filters__net-list,
.filters__especially-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters label {
  line-height: 20px;
}

.filters__btn {
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}


.sorting-wrapper {
  display: flex;
  align-items: baseline;
  width: 760px;
  min-height: 75px;
  margin-bottom: 100px;
}

.sorting {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.by-price,
.by-type,
.by-name {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.by-type,
.by-name {
  opacity: 0.25;
}
.by-price {
  margin-left: 275px;
  margin-right: 25px;
}

.by-type {
  margin-right: 25px;
}
.by-name {
  margin-right: 45px;
}

.products{
  display: flex;
  flex-direction: column;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 760px;

  list-style: none;
}


.products__list-item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 75px;
}

.products__list-item:nth-child(2n) {
  margin-right: 0;
}

.products__list-item:nth-child(5),
.products__list-item:nth-child(6) {
  margin-bottom: 60px;
}


.paggination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.paggination-list__item {
  color: #000000;
  background-color: #eeeeee;
}
.paggination-list__item:hover {
  color: #000000;
  background-color: #dfdfdf;
}
.paggination-list__item:active {
  color: #b0b0b0;
  background-color: #d5d5d5;
}
